#container{
  display: flex;
  flex-wrap: wrap;
  width:720px;
  height:720px; 
  background-image: url(http://bit.ly/2lZskSL);
}
.cards{
  background-size: 180px 180px;
  background-image: url(http://bit.ly/2kPl0IR);
  width: 50%;
  height: 50%;
}
#zero:hover {
  animation: flip 3s infinite;
}
@-webkit-keyframes breathe{
  0% {font-size: 24px; color: green;}
  50% {font-size: 48px; color:red;}
  100% {font-size: 24px; color:green;}
}
@-webkit-keyframes flip{
  0%{transform: rotateY(0deg);}
  50%{transform: rotateY(180deg);}
  100%{transform: rotateY(0deg);}
}