body{
  font-style: verdana;
  background-image: url(http://bit.ly/2k0f1zZ);
}

#container{
  background-image: url(http://bit.ly/2llYKWS);
  width: 805px;
}

.card{
  height: 360px;
  width: 400px;
  display: inline-block;
  animation-duration: 2s;
  background-color: tan;
  animation-fill-mode: forwards;
}
#zero{
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}
#one{
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}
#two{
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}
#three{
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes red{
  from{
    background-color: tan;
  }
  to{
    background-color: red;
  }
}
@keyframes green{
  from{
    background-color: tan;
  }
  to{
    background-color: green;
  }
}
@keyframes fader{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


@keyframes fade{
  0%{background-color: tan;}
  50%{background-color: red;}
  100%{background-color: tan;}
}

@keyframes rotatey{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}